<div class="row">
  <div class="col-md-8">
    <div>
      <canvas id="lineChart4" height="114"></canvas>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="stat-list m-t-lg">
      <li>
        <h2 class="no-margins">$2,346</h2>
        <small><%= t('home.message_out')%></small>
        <div class="progress progress-mini">
          <div class="progress-bar" style="width: 48%;"></div>
        </div>
      </li>
      <li>
        <h2 class="no-margins ">$4,422</h2>
        <small><%= t('home.message_ou')%></small>
        <div class="progress progress-mini">
          <div class="progress-bar" style="width: 60%;"></div>
        </div>
      </li>
    </ul>
  </div>
</div>