<% if @error.present? %>
    <div class="alert alert-danger alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      <%= @error %>
    </div>
<% end %>

<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold"><%= t('views.expired_accounts_new.reactivation_request') %></h2>

        <p>
          <label><%= t('views.expired_accounts_new.enter_email') %></label>
        </p>

        <div class="row">

          <div class="col-lg-12">

            <%= form_tag({:controller => "expired_accounts", :action => "new"}, :id => "form", :method => "get") do %>

                <div class="form-group">

                  <input type="text" class="form-control" name="email" autocomplete="off" placeholder="<%= t('views.expired_accounts_new.placeh_email_ean') %>" id="mail" required="true">
                  <font color="#cc5965"><label id="errorMail" style="display: none;"></label></font>
                </div>


                <%= submit_tag t('views.expired_accounts_new.send'), :class => 'btn btn-primary block full-width m-b' %>
                <%#= link_to t('all.back'), new_session_path, :class => 'btn btn-warning block full-width m-b' %>
                <%= link_to t('views.expired_accounts_new.back'), new_user_session_path, :class => 'btn btn-warning block full-width m-b'%>
            <% end %>

            <div class="form-group" align="center">
              <%= link_to image_tag("mexico.png", border: 0, :height => 14, width: 26), locale: :es %>
              <%= link_to image_tag("eua.png", border: 0, :height => 14, width: 26), locale: :en %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="m-t" align="center">
    <small>KS Soluciones S.A. de C.V. &copy; 1998-2018</small>
  </p>
</div>

<script>

    $('#form').validate({
        messages: {
            "email": {
                required: "<%= t('all.requi')%>"
            }
        }
    });

    $('#mail').change(function () {
        var em = $(this).val();
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (re.test(em)) {
            $("#mail").val(em);
            $("#errorMail").hide();
            $("#mail").css("border", "1px dotted #e7eaec")
        } else {
            var msg = "<%= t('views.registration_new.mail_err')%>";
            document.getElementById('errorMail').innerHTML = msg;
            $("#mail").val("");
            $("#mail").focus();
            $("#mail").css("border", "1px dotted #cc5965")
            $("#errorMail").show()

        }
    });
</script>
