<% if current_user.profile.present? %>
    <% @permisos = current_user.profile.permissions %>
    <% arreglo = Array.new %>
    <% @permisos.each do |per| %>
        <% id = per.id %>
        <% valor = {name: '', crear: 0, editar: 0, leer: 0, eliminar: 0} %>
        <% valor[:name] = per.view_name %>
        <% if per.crear.nil? %>
            <% valor[:crear] = 0 %>
        <% else %>
            <% valor[:crear] = per.crear %>
        <% end %>

        <% if per.editar.nil? %>
            <% valor[:crear] = 0 %>
        <% else %>
            <% valor[:editar] = per.editar %>
        <% end %>

        <% if per.leer.nil? %>
            <% valor[:leer] = 0 %>
        <% else %>
            <% valor[:leer] = per.leer %>
        <% end %>

        <% if per.eliminar.nil? %>
            <% valor[:eliminar] = 0 %>
        <% else %>
            <% valor[:eliminar] = per.eliminar %>
        <% end %>

        <% arreglo.push(valor) %>
    <% end %>

    <nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                              <h3>
                                <strong class="font-bold"><%= current_user.name %> <%= current_user.last_name %>  </strong><br>
                              </h3>

                              <%# if (current_user.nameProfile_id == 1) || (current_user.nameProfile_id > 1) %>

                            </span>
                          <span class="text-muted text-xs block cerrado" id="abre">Menu <b class="caret"></b></span>
                        </span>
              </a>

              <ul class="dropdown-menu animated fadeInRight m-t-xs" id="menu">
                <li>
                  <a href="#"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe + t('all.edit'), edit_user_registration_path %></a>
                </li>

                <li>
                  <a href="#"><%= link_to '<i class="fa fa-sign-out"></i>'.html_safe + t('all.logout'), "/logout" %></a>
                </li>
              </ul>
            </div>
            <div class="logo-element">
              KS
            </div>
          </li>


          <li class="<%= 'active' if current_page?('/') %>">
            <%= link_to "/" do %>
                <i class="fa fa-home"></i> <span class="nav-label"><%= t('all.home') %></span>
            <% end %>

          </li>


              <% if arreglo[1][:crear] == 8  || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 || arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 || arreglo[4][:crear] == 8 || arreglo[4][:editar] == 4 || arreglo[4][:leer] == 2 || arreglo[4][:eliminar] == 1 %>
                  <li class="<%= is_active_controller('users') %> <%= is_active_controller('profiles') %>">
                    <a href=""><i class="fa fa-cogs"></i><span class="nav-level"><%= t('all.settings_n') %></span>
                      <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level <%= is_active_controller('users') %>">

                      <% if arreglo[1][:crear] == 8 || arreglo[1][:editar] == 4 || arreglo[1][:leer] == 2 || arreglo[1][:eliminar] == 1 %>
                          <li class="<%= 'active' if current_page?('/users') %>">
                            <%= link_to '<i class="fa fa-users"></i>'.html_safe + t('all.user'), users_path %>
                          </li>
                      <% end %>

                      <% if arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[2][:eliminar] == 1 %>
                          <li class="<%= is_active_controller('profiles') %>">
                            <%= link_to '<i class="fa fa-user"></i>'.html_safe + t('all.profiles'), profiles_path %>
                          </li>
                      <% end %>

                      <% if arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[3][:eliminar] == 1 %>
                          <li class="<%= is_active_controller('areas') %>">
                            <%= link_to '<i class="fa fa-sticky-note"></i>'.html_safe + t('all.areas'), areas_path %>
                          </li>
                      <% end %>
                      <% if current_user.profile_id == "1" || current_user.profile_id == 1 %>
                          <% if arreglo[4][:crear] == 8 || arreglo[4][:editar] == 4 || arreglo[4][:leer] == 2 || arreglo[4][:eliminar] == 1 %>
                              <li class="<%= is_active_controller('views') %>">
                                <%= link_to '<i class="fa fa-desktop"></i>'.html_safe + t('all.views'), views_path %>
                              </li>
                          <% end %>
                      <% end %>
                    </ul>
                  </li>
              <% end %>


        </ul>
      </div>
    </nav>
<% else %>
<% end %>

<script>
    $("#abre").click(function () {
        var tiene = $(this).hasClass("cerrado")
        if (tiene == false) {
            $(this).removeClass("abierto")
            $(this).addClass("cerrado")
            $("#menu").hide();
        } else {
            $(this).removeClass("cerrado")
            $(this).addClass("abierto")
            $("#menu").show();
        }
    })

</script>